In [22]:
import pandas as pd
from sklearn import tree
from sklearn.model_selection import train_test_split
# from sklearn.utils.random import sample_without_replacement

In [5]:
studentInfo_DDDJ_v1 = pd.read_csv('../data/studentInfo_DDDJ_v1.csv')

In [12]:
studentInfo_DDDJ_v1.head()

,id_student,code_module,code_presentation,gender,region,highest_education,imd_band,age_band,studied_credits,disability,final_result,date_submitted,score
0,28046,DDD,2013J,F,Yorkshire Region,HE Qualification,10-20,35-55,70,N,Fail,237.0,40.0
1,29411,DDD,2013J,M,East Midlands Region,A Level or Equivalent,80-90%,0-35,60,N,Pass,237.0,62.0
2,33930,DDD,2013J,F,South West Region,A Level or Equivalent,20-30%,0-35,90,N,Pass,237.0,67.0
3,40184,DDD,2013J,M,Wales,HE Qualification,30-40%,55<=,60,N,Distinction,241.0,100.0
4,40563,DDD,2013J,F,South East Region,A Level or Equivalent,0-10%,0-35,60,N,Pass,237.0,49.0

In [29]:
studentInfo_DDDJ_v1.region.value_counts()

South Region            192
Scotland                190
East Anglian Region     179
South West Region       149
London Region           138
North Western Region    137
South East Region       122
North Region            118
West Midlands Region    114
East Midlands Region    108
Yorkshire Region        106
Wales                    80
Ireland                  50
Name: region, dtype: int64

In [ ]:
studentInfo_DDDJ_v1.drop(columns=['code_module'], inplace=True)

In [25]:
studentInfo_train_X, studentInfo_test_X, studentInfo_train_y, studentInfo_test_y = sklearn.model_selection.train_test_split(studentInfo_DDDJ_v1.drop(columns=['final_result', 'score']), studentInfo_DDDJ_v1[['final_result']], train_size=0.9, random_state=42, shuffle=True, stratify=None)

In [27]:
display(studentInfo_train_X.head())
display(studentInfo_train_y.head())

,id_student,code_module,code_presentation,gender,region,highest_education,imd_band,age_band,studied_credits,disability,date_submitted
1346,679897,DDD,2014J,F,London Region,Lower Than A Level,50-60%,0-35,120,N,242.0
1146,641896,DDD,2014J,F,Scotland,A Level or Equivalent,30-40%,35-55,60,N,242.0
526,563016,DDD,2013J,M,Yorkshire Region,HE Qualification,80-90%,55<=,60,N,237.0
51,134243,DDD,2014J,F,East Anglian Region,A Level or Equivalent,80-90%,0-35,90,N,243.0
425,531646,DDD,2014J,M,South Region,Lower Than A Level,80-90%,0-35,60,N,243.0

     final_result
1346         Pass
1146         Pass
526          Pass
51           Pass
425          Fail

In [10]:
 dt_1 = tree.DecisionTreeClassifier(criterion='gini',
                                    splitter='best',
                                    max_depth=None,
                                    min_samples_split=2,
                                    min_samples_leaf=1,
                                    min_weight_fraction_leaf=0.0,
                                    max_features=None,
                                    random_state=None,
                                    max_leaf_nodes=None,
                                    min_impurity_decrease=0.0,
                                    class_weight=None,
                                    ccp_alpha=0.0)

In [28]:
dt_1.fit(studentInfo_train_X, studentInfo_train_y)

ValueError: could not convert string to float: 'DDD'